@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;  
    color: rgb(88, 4, 4);
}
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }

/* header */

header{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
header #img-voltar{
    margin-left: 3vw;
}
header h1{
    margin-left: 18vw;
}
.perfil-adm{
    margin-right: 5vw;
    align-items: center;
    display: flex;
}

main{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

/* menu */ 
.menu-div{
    background-color: rgb(239, 245, 242);
    height: 100px;
    width: 18%;
    height: 100vh;
    display: flex;
    justify-content: left;
}
.menu-div a{
    text-decoration: none;
    color: rgb(132, 135, 135);
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.menu-div ul{
    list-style-type: none;
}
.menu-div li{
    margin-top: 4vh;
    display: flex;
}
.menu-div li img{
    margin-right: 1vw;
    width: 1.5rem;
}
#item-menu:hover{
  padding-bottom: 10px;
  border-bottom: 1.5px solid rgb(206, 175, 175);
}
.content-div{
    background-color: rgba(86, 12, 12, 0.301);
    height: 100px;
    width: 92%;
    height: 100vh;
} 

/* calendário */
#contentCalendar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#pedidos{
  width: 50%;
}
#calendar {
  width: 35vw;
  max-height: 58vh;
  margin: 20px;
  border: 1px solid #ddd;
  background-color: #dfd8d8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-header button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #73333373;
  color: rgb(243, 231, 231);
  cursor: pointer;
}

.calendar-header button:hover {
  background-color: #e4dcdc;
  color: #671e1e;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  width: 14.28%;
  text-align: center;
  padding: 10px;
  border: 1px solid #5a22222b;
}

th {
  background-color: #73333373;
  color: #e6dcdc;
}
td:hover{
  background-color:#e4dcdc;
}
.today {
  background-color: #5a222268;
  color: white;
}
.today:hover{
  color: #5a2222;
}
#eventModal{
  display: none; 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center; 
  align-items: center;
}
#divModal{
  background: white; 
  padding: 20px; 
  border-radius: 8px; 
  width: 35vw; 
  text-align: center;
}
#eventInput{
  font-family:'Times New Roman', Times, serif ;
  width: 90%; 
  padding: 10px; 
  margin-bottom: 10px;
}
#saveEvent{
  padding: 10px 20px; 
  background: #922525; 
  color: white; 
  border: none; 
  border-radius: 4px;
}
#closeModal{
  padding: 10px 20px; 
  background: #ddd; 
  border: none; 
  border-radius: 4px; 
  margin-left: 10px;
}

